.inputTxt{
    width: 100%;
    font-size: 1.6rem;
    overflow: hidden;
    line-height: 2.4rem;
    border: 1px solid #f1f1f1;
    padding: 2rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    background-color: #fff;
    height: auto;
    white-space: pre-wrap;
}