.wrap{
    width: 80rem;
    min-height: 72vh;
    margin: 6rem auto 12rem;
}

.imgBox{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.defaultImgBox{
    display: flex;
    width: 28rem;
    justify-content: space-between;
}

.defaultImg{
    width: 6rem;
    height: 6rem;
    border-radius: 10px;
}

.ImgBtn{
    padding: 0.9rem 1.5rem;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: rgb(250, 140, 107);
    color:#fff;
}

.option{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    color:#777;
}

.publicOption{
    display: flex;
    align-items: center;
}

.active{
    width: 4.5rem;
    height: 2.5rem;
    box-shadow: 0px 0px 3px #00000020;
    background-color: rgb(253, 199, 168);
    margin-left: 1rem;
    position: relative;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.active::before{
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    content: '';
    left: 0.5rem;
    top: 0.5rem;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
}

.noneActive{
    width: 4.5rem;
    height: 2.5rem;
    box-shadow: 0px 0px 3px #00000020;
    margin-left: 1rem;
    position: relative;
    border-radius: 20px;
    background-color: #f9f9f9;
    transition: 0.5s ease-in-out;
}

.noneActive::before{
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    content: '';
    right: 0.5rem;
    top: 0.5rem;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
}

.txt{
    margin-top: 3rem;
}

.upload{
    padding: 0.9rem 1.5rem;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: rgb(250, 140, 107);
    color:#fff;
    margin: auto;
    margin-top: 5rem;
}