.wrap{
    min-height: 75vh;
    width: 100%;
}

.diaryWrap{
    width: 120rem;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

@media (max-width:1200px) {
    .diaryWrap{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}