.wrap{
    min-height: 75vh;
    width: 100%;
}

.diaryWrap{
    width: 120rem;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.diaryList{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media (max-width:918px) {
    .diaryWrap{
        width: 80rem;
    }
}

@media (max-width:618px) {
    .diaryWrap{
        width: 100%;
    }
}

@media (max-width:618px) {
    .diaryList{
        justify-content: center;
    }
}