.userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 8rem;
    border-bottom: 1px solid #f1f1f1;
}

.userURL{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.nameGroup{
    margin-top: 1.7rem;
    text-align: center;
    font-size: 2.4rem;
}

.diarys{
    margin: 10rem -2.5rem 3rem;
}

.diaryList{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/*반응형*/
@media (max-width:918px) {
    .diarys{
        width: 80rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:618px) {
    .diarys{
        width: 100%;
    }
}

@media (max-width:618px) {
    .diaryList{
        justify-content: center;
    }
}