.photoURL:hover{
    background-color: #f6f6f6;
}


.menu {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.photoURL {
    width: 5rem;
    height: 5rem;
    padding: 0.6rem;
    display: inline-block;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.submenu {
    position: absolute;
    top: calc( 13vh - 2px );
    right: 0;
    background-color: #fff;
    width: 32rem;
    text-align: center;
    box-shadow: 0px 2px 5px #00000010;
    border: 0.25px solid #f9f9f950;
}

.profileList{
    padding: 2.5rem 3rem;
}
  
.profile{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1.4rem;
}
  
.profile img{
    width: 5.5rem;
    height: 5.5rem;
    margin-right: 1.5rem;
}
  
.name{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
    display: block;
}
  
.btnGroup{
    display: flex;
    margin-top: 2.5rem;
    margin-left: 7rem;
}
  
.infoBtn{
    font-size: 1.2rem;
    padding: 0.5rem 0.7rem;
    border: 1px solid rgb(250, 140, 107);
    color:rgb(250, 140, 107);
    border-radius: 5px;
    margin-right: 1rem;
}
  
.infoBtn:hover{
    background-color: rgb(250, 140, 107);
    color:#fff;
}
  
.logOutBtn{
    font-size: 1.2rem;
    padding: 0.5rem 0.7rem;
    border:1px solid #ccc;
    color:#ccc;
    border-radius: 5px;
}
  
.logOutBtn:hover{
    background-color: #ccc;
    color:#fff;
}